<div class = "jumbotron">
    <h1>Bienvenido a mi pagina web</h1>
    <p>Le va a romper el culo a todos</p>
    <%= link_to 'About Us', home_about_path, class: 'btn btn-default' %>
    <%= link_to 'Home', root_path, class: 'btn btn-primary' %>
    </div>